In [1]:
import pandas as pd
import numpy as np
#import pandas_profiling

path = r"/Users/kevin.reilly/Library/CloudStorage/OneDrive-TheTradeDesk/repos/baseballdatabank/core/Batting.csv"
# 'r' is used to elminate the whitespace in the path.

df = pd.read_csv(path)

pop = len(df)
print ("Total records:")
print (pop)

Total records:
102816

In [2]:
df['H'].describe()

count    102816.000000
mean         37.139930
std          52.603757
min           0.000000
25%           0.000000
50%           9.000000
75%          58.000000
max         262.000000
Name: H, dtype: float64

In [3]:
pop_mean = df["H"].mean()
df_ten_per = df.sample(10)
ten_mean = df_ten_per['H'].mean()
ten_std = df_ten_per['H'].std()

print("Mean of population " + "%.2f" % pop_mean)
print("Mean of sample " + "%.2f" % ten_mean)
print("Standard deviation of sample " + "%.2f" % ten_std)

df_ten_per[["playerID", "yearID", "H"]]

Mean of population 37.14
Mean of sample 38.60
Standard deviation of sample 46.74

        playerID  yearID    H
8500    woodbo01    1901  101
71742  treadje01    1993   67
41365  chancde01    1961    0
28113  andrest01    1939    6
74622  hermadu01    1996    0
11692  ellamro01    1909    4
99583  santada01    2014  129
64177  vangoda01    1986    0
12052  whitedo01    1909   45
38305  grammal01    1956   34

Mean of 22.30