In [1]:
import pandas as pd
import numpy as np

hof_data = r"/Users/kevin.reilly/OneDrive - Learfield IMG College/repos/baseballdatabank/contrib/HallOfFame.csv"
batting_data = r"/Users/kevin.reilly/OneDrive - Learfield IMG College/repos/baseballdatabank/core/batting.csv"

df_hof = pd.read_csv(hof_data)
df_batting = pd.read_csv(batting_data)

print("--------------------------")
print(df_hof.shape)
print("--------------------------")
print(df_hof.dtypes)
print("--------------------------")

FileNotFoundError: [Errno 2] No such file or directory: '/Users/kevin.reilly/OneDrive - Learfield IMG College/repos/baseballdatabank/contrib/HallOfFame.csv'

In [ ]:
df_hof.sample(10)

,playerID,yearID,votedBy,ballots,needed,votes,inducted,category,needed_note
2125,mizejo01,1967,BBWAA,292.0,219.0,89.0,N,Player,NaN
2961,marisro01,1984,BBWAA,403.0,303.0,107.0,N,Player,NaN
2576,lawve01,1975,BBWAA,362.0,272.0,6.0,N,Player,NaN
365,robinwi01,1939,BBWAA,274.0,206.0,46.0,N,Manager,NaN
3847,frymatr01,2008,BBWAA,543.0,408.0,2.0,N,Player,NaN
3275,veeckbi99,1991,Veterans,NaN,NaN,NaN,Y,Pioneer/Executive,NaN
1566,hackst01,1956,BBWAA,193.0,145.0,1.0,N,Player,NaN
2386,raschvi01,1971,BBWAA,360.0,270.0,2.0,N,Player,NaN
2655,podrejo01,1977,BBWAA,383.0,288.0,3.0,N,Player,NaN
3833,dawsoan01,2008,BBWAA,543.0,408.0,358.0,N,Player,NaN

In [ ]:
df_ind_cat = pd.DataFrame(df_hof.groupby(["category"]).inducted.value_counts())
df_ind_cat.unstack()

                  inducted
inducted                 N      Y
category
Manager               51.0   23.0
Pioneer/Executive      7.0   34.0
Player              3810.0  256.0
Umpire                 NaN   10.0

In [ ]:
df_hof_players =  df_hof[(df_hof.inducted == 'Y') & (df_hof.category == 'Player')]
df_hof_players.sample(10)

,playerID,yearID,votedBy,ballots,needed,votes,inducted,category,needed_note
458,ansonca01,1939,Old Timers,NaN,NaN,NaN,Y,Player,NaN
2905,maricju01,1983,BBWAA,374.0,281.0,313.0,Y,Player,NaN
1885,robinja02,1962,BBWAA,160.0,120.0,124.0,Y,Player,NaN
350,sislege01,1939,BBWAA,274.0,206.0,235.0,Y,Player,NaN
2340,haineje01,1970,Veterans,NaN,NaN,NaN,Y,Player,NaN
743,eversjo01,1946,Old Timers,NaN,NaN,NaN,Y,Player,NaN
3277,fingero01,1992,BBWAA,430.0,323.0,349.0,Y,Player,NaN
112,youngcy01,1937,BBWAA,201.0,151.0,153.0,Y,Player,NaN
3599,winfida01,2001,BBWAA,515.0,387.0,435.0,Y,Player,NaN
3230,perryga01,1991,BBWAA,443.0,333.0,342.0,Y,Player,NaN

In [ ]:
df_hof_playerID = df_hof_players[['playerID']]
df_hof_playerID.sample(10)

       playerID
3599  winfida01
1883  hamilbi01
743   eversjo01
1966  flickel01
2497  mantlmi01
1422  hartnga01
2541   bellco99
3566   fiskca01
2061  manushe01
3097  dandrra99

In [ ]:
playerID = {'winfida01', 'fiskca01'}

df_player_HOF = df_hof.loc[df_hof['playerID'].isin(playerID)]
df_player_HOF["vote_perc"] = df_player_HOF.votes / df_player_HOF.ballots
df_player_HOF

/var/folders/g0/_fmqcb_13cn4tshlbm9x2qg5w19tkx/T/ipykernel_8108/2761824287.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_player_HOF["vote_perc"] = df_player_HOF.votes / df_player_HOF.ballots

,playerID,yearID,votedBy,ballots,needed,votes,inducted,category,needed_note,vote_perc
3537,fiskca01,1999,BBWAA,497.0,373.0,330.0,N,Player,NaN,0.663984
3566,fiskca01,2000,BBWAA,499.0,375.0,397.0,Y,Player,NaN,0.795591
3599,winfida01,2001,BBWAA,515.0,387.0,435.0,Y,Player,NaN,0.844660